<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{page.title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">

</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
    <div class="container">
    
    {{content}}

    </div>
    <footer>
        <ul>
            <li><a href="https://github.com/nrp2000">github.com/nrp2000</a></li>
            <li><a href="https://nrp2000.github.io">nrp2000.github.io</a></li>
        </ul>
    </footer>
</body>
</html>