<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{page.title}}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
    <div class="container">
    
    {{content}}

    </div>
    <footer>
        <ul>
            <li><a href="https://github.com/nrp2000">github.com/nrp2000</a></li>
            <li><a href="https://nrp2000.github.io">nrp2000.github.io</a></li>
        </ul>
    </footer>
</body>
</html>